* {
	margin:0; padding:0;
}
html {
	font-family:SimHei;
	font-size:62.5%;
	color:#222;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
header, footer, section {
	box-sizing: border-box;
	width: 100%;
}
/*头部样式*/
header {
	width: 100%;
	height: 7rem;
	line-height: 7rem;
	position: relative;
}
header .logo {
	width: 20%;
	height: 7rem;
	text-align: center;
	display: inline-block;

}
header .logo img {
	vertical-align: middle;
}
header .logo span {
	font-size: 2.5rem;
	font-weight: 500;
}
header nav {
		float:right;
		margin-right:10%;
		width:50%;
		max-width:50rem;
}
header nav ul li {
	float: left;
	height: 100%;
	width: 20%;
}
header nav ul li a {
	display:inline-block;
	width:80%;
	height:6.8rem;
	line-height:6.8rem;
	text-align:center;
	font-size: 1.7rem;
	color: #8A8B8F;
}
header nav ul li a:hover{
	border-bottom:0.2rem solid #E65051;
}
header .login {
	width: 10%;
	height: 100%;
	position: absolute;
	right: 0px;
	line-height: 7.5rem;
}
header .login span {
	color: #E67B82;
	line-height: 7.5rem;
	font-size: 1.6rem;
	font-family: SimHei;
}

/*main 样式*/
.sec-banner {
	position: relative;
}
.banner-wrap {
	position: absolute;
	left: 10%;
	bottom: 20%;
}
.banner-wrap h1 {
	font-size: 6rem;
	font-family: Arial;
	color: #E8504F;
}
.banner-wrap p {
	width: 24rem;
	font-size: 1.8rem;
	margin: 1.5rem 0;
	color: #E8504F;
}
.banner-wrap a {
	width: 25rem;
	height: 4.8rem;
	line-height: 4.8rem;
	font-size: 3.5rem;
	display: block;
	color: #fff;
	background-color: #E8504F;
	text-align: center;
}

.server {
	width: 100%;
	height: 15rem;
	padding: 6rem 0;
}
.server li {
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
}
.server li img {
	padding-bottom: 4rem;
}
.server li p {
	font-size: 1.6rem;
	padding-bottom:3%;
	color:#7E7E7E;
}
.server .server-line {
	border-right: 2px solid  #ABABAB;
}
.new_world {
	width: 100%;
	background: #EDEDED;
	text-align: center;
	padding: 7rem 0;
}
.new_world p {
	font-size: 3.2rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #A6A6A6;
}

.map-active {
	position: relative;
}
.map-bg {
	width: 100%;
	height: 50rem;
	text-align: center;
	background-image: url(./image/map.jpg);
	background-size: cover;
	filter: blur(5px);
}
.map-ifo {
	position: absolute;
	width: 90%;
	left: 50%;
	top: 20%;
	text-align: center;
	transform: translate(-50%);
}
.map-ifo h1 {
	font-size: 2rem;
	font-family: fantasy;
	letter-spacing: 5px;
	color: #E8504F;
	padding: 5px;
	margin-bottom: 3rem;
}
.map-ifo p {
	color: #E8504F;
	font-size: 1.5rem;
	margin-bottom: 3rem;
}
.select {
	width: 22rem;
	height: 3rem;
	display: inline-block;
	margin: 1.5rem 2rem;
}
.map-ifo form .select input {
	width: 22rem;
	height: 3rem;
	padding: 0 1rem;
	outline: none;
	box-sizing: border-box;
	border: 1px solid #BCB2B1;
}
.map-ifo form .search {
	width: 22rem;
	height: 3rem;
	display: inline-block;
	margin: 1.5rem 2rem;
	border:  1px solid #BCB2B1;
}
.map-ifo form .search .select-btn {
	width: 22rem;
	height: 3rem;
	background-color: #BE4F48;
	color: #fff;
	text-align: center;
	border-style: none;
	letter-spacing: 1rem;
}

.city-active {
	width: 100%;
	height: auto;
	padding: 10rem 0rem;
	background: #F7F7F7;
	display: flex;
	display: -webkit-flex;
	justify-content: space-evenly;
}
.city-active figure {
	display: inline-block;
	margin: 2rem;
	text-align: center;
}
.city-active figure img {
	width: 100%;
	padding: 1.5rem 0.8rem;
	border:  1px solid #E3E3E3;
	background: #fff;
	height: auto;
}
.city-active figure figcaption h1 {
	font-size: 1.7rem;
	margin-bottom: 0.8rem;
}
.city-active figure figcaption p {
	font-size: 1.3rem;
	color: #A1A1A1;
}


main .time-container {
    display: flex;
	display: -webkit-flex;
}
main .time-pic {
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex: 2;
	-webkit-flex: 2;
	align-items: center;
}
main .time-pic .time-pic-txt {
	display: flex;
	width: 100%;
	position: absolute;
	flex-direction: column;
	text-align: center;
	
}
main .time-pic p {
	font-size: 1.5rem;
	color: #fff;
	margin-bottom: 1rem;
}
main .time-pic p span {
	font-size: 3rem;
	color: #fff;
	margin-bottom: 2rem;
}
main .time-pic h1 {
	font-size: 8rem;
	font-family: Verdana;
	font-weight: bolder;
	color: #fff;
	margin-bottom: 1.5rem;
}

main .time-txt {
	display: flex;
	background: #fff;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	position: relative;
}
main .time-txt .time-txt-intro {
	position: absolute;
	width: 50%;
	opacity: 0;
}
main .time-txt .time-txt-intro h1 {
	font-size: 2rem;

}
main .time-txt .time-txt-intro h1 span {
	color: #E9504A;
}
main .time-txt .time-txt-intro p {
	text-align: justify;
	line-height: 1.5rem;
	font-size: 1.4rem;
	color: #B0B0B0;
	margin: 2rem 0;
}
main .time-txt .time-txt-intro a {
	display: inline-block;
	width: 50%;
	height: 2.3rem;
	line-height: 2.3rem;
	font-size: 1.5rem;
	border: 2px solid #EB858F;
	color: #EB858F;
}
main .time-txt .select1 {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	height: 1.5rem;
	width: 1.5rem;
}
main .time-txt .select2 {
	position: absolute;
	bottom: 2rem;
	left: 40%;
	height: 1.5rem;
	width: 1.5rem;
}
main .time-txt .select3 {
	position: absolute;
	bottom: 2rem;
	left: 60%;
	height: 1.5rem;
	width: 1.5rem;
}
main .time-txt .select1:checked+.page1 {
	opacity: 1;
}
main .time-txt .select2:checked+.page2 {
	opacity: 1;
}
main .time-txt .select3:checked+.page3 {
	opacity: 1;
}

/*left part*/
main .love-live {
	display: flex;
	width: 100%;
}
main .love-left {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background: #E8504E;
}
main .love-left p {
	position: relative;
	color: #fff;
	font-size: 1.7rem;
	line-height: 2.3rem;
	text-align: center;
}
main .love-left p span {
	display: inline-block;
}
main .love-left p span:after {
	position: absolute;
	content: "";
	display: block;
	width: 2rem;
	border-bottom: 2px solid #fff;
	margin: 1rem 0 2rem;
	left: 40%;
}
main .love-left p a {
	display: block;
	margin-top: 3rem;
	padding: 0.1rem;
	width: 100%;
	height: 2.5rem;
	color: #fff;
	border: 1px solid #fff;
}
/*mid part*/
main .love-mid {
	flex: 1;
}
main .love-mid {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background: #fff;
}
main .love-mid p {
	position: relative;
	font-size: 1.7rem;
	line-height: 2.3rem;
	text-align: center;
}
main .love-mid p span {
	display: inline-block;
}
main .love-mid p span:after {
	position: absolute;
	content: "";
	display: block;
	width: 2rem;
	border-bottom: 2px solid grey;
	margin: 1rem 0 2rem;
	left: 40%;
}
main .love-mid p a {
	display: block;
	margin-top: 3rem;
	padding: 0.1rem;
	width: 100%;
	height: 2.5rem;
	color: #E8504E;
	border: 1px solid #E8504E;
}
/*right part*/
main .love-right {
	flex: 1;
	position: relative;
}
main .love-right .triangle {
	position: absolute;
	border-style: solid;
	border-width: 15px;
	border-color: transparent transparent transparent white;
	width: 0px;
	height: 0px;
	top: 45%;
}

/*volunteer*/
main .volunteer {
	padding: 10rem 10%;
	width: 100%;
}
main .volunteer .join {
	position: relative;
	text-align: center;
	margin-bottom: 2rem;
}
main .volunteer .join h1 {
	font-size: 2rem;
}
main .volunteer .join h1:after {
	position: absolute;
	content: "";
	display: block;
	width: 2rem;
	border-bottom: 2px solid #E8504E;
	left: 50%;
	margin: 0.3rem auto 1rem;
}
main .volunteer .join p {
	color: #ACACAC;
	margin: 2rem 0;
}
main .volunteer .join-content {
	display: flex;
	justify-content: space-between;
}
main .volunteer .join-content ul {
	width: 30%;
	margin-right: 1.5rem;
}
main .volunteer .join-content ul li {
	margin: 2rem 0;
}
main .volunteer .join-content ul li h2 {
	font-size: 1.7rem;
	color: #656364;
	margin-bottom: 2rem;
}
main .volunteer .join-content ul li p {
	text-align: justify;
	color: #9F9D9E;
	font-size: 1.5rem;
	line-height: 1.8rem;
}
main .volunteer .join-content ul li a {
	color: #9F9D9E;
	font-size: 1.2rem;
	line-height: 1.8rem;
	float: right;
	display: block;
}
main .volunteer .join-content form {
	float: left;
	padding-left: 10%;
}
main .volunteer .join-content form label {
	width: 25rem;
	height: 3rem;
	margin: 0.7rem;
	display: inline-block;
	background: transparent;
}
main .volunteer .join-content form input {
	width: 25rem;
	height: 3rem;
	box-sizing: border-box;
	padding-left: 8rem;
	border-style: none;
	background: #EDEDEF;
	outline: none;
}
main .volunteer .join-content form #name {
	position: relative;
}
main .volunteer .join-content form #age {
	position: relative;
}
main .volunteer .join-content form #qq {
	position: relative;
}
main .volunteer .join-content form #address {
	position: relative;
}
main .volunteer .join-content form label:after {
	position: absolute;
	display: inline-block;
	width: 8rem;
	height: 3rem;
	color: #757374;
	font-size: 1.6rem;
	top: 0;
	left: 0;
	line-height: 3rem;
	margin-left: 2rem;
}
main .volunteer .join-content form #name:after {
	content: "name: ";
}
main .volunteer .join-content form #age:after {
	content: "age: ";
}
main .volunteer .join-content form #qq:after {
	content: "qq: ";
}
main .volunteer .join-content form #address:after {
	content: "address: ";
}
main .volunteer .join-content form #form-text {
	width: 100%;
	height: 10rem;
	margin: 0.7rem;
	color: #757374;
	box-sizing: border-box;
	background: #EDEDEF;
	border: none;
	outline: none;
	overflow: auto;
	resize: vertical;
}
main .volunteer .join-content form .form-btn {
	width: 100%;
	height: 3rem;
	border-style: none;
	color: #757374;
	font-weight: bold;
	margin-left: 0.7rem;
}

/*footer part*/
main .contact {
	width: 100%;
	padding: 8rem;
	background: #33363F;
	color: #fff;
	text-align: center;
}
main .contact h1 {
	line-height: 2rem;	
}
main .contact p {
	line-height: 2rem;	
}
main .contact form {
	width: 100%;
} 
main .contact form label {
	position: relative;
	display: inline-block;
	width: 35rem;
	height: 2.5rem;
	margin: 2rem 0;
}
main .contact form label input {
	box-sizing: border-box;
	width: 35rem;
	height: 2.5rem;
	padding-left: 3rem;
	border: none;
	outline: none;
}
main .contact form label button {
	position: absolute;
	width: 5rem;
	height: 2.5rem;
	top: 0;
	right: 0;
	margin: 0;
	color: #fff;
	background: #717179;
	border: none;
}
main .contact .contact-img img {
	margin: 0 1rem;
}
body footer {
	width: 100%;
	height: 7rem;
	padding: 3rem 3rem;
	background: #30303A;
	color: #fff;
}
body footer section p {
	display: inline-block;
}